---
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<div>
        <h1 class="text-3xl font-bold mb-4">Welcome to the CasualOS Documentation</h1> 
        <p class="text-gray-700 mb-4">CasualOS is an innovative operating system designed to provide a smooth and efficient user experience. This documentation aims to provide a comprehensive guide on the use and features of CasualOS, making it easier for both new users and developers to understand and leverage all its capabilities.</p> 
    
        <h2 class="text-xl font-bold mb-4" >What is CasualOS?</h2> 
        <p class="text-gray-700 mb-4">CasualOS is a modern operating system that combines simplicity and power. It is designed to be intuitive and accessible, allowing users to perform everyday tasks quickly and efficiently, while offering developers a robust platform to create advanced applications.</p> 
    
        <h2 class="text-xl font-bold mb-4">Main Features</h2> 
    
        <ul class="mb-4"> 
            <li><strong>User-Friendly Interface:</strong> A clean and easy-to-use interface that enhances productivity.</li> 
            <li><strong>Optimal Performance:</strong> Optimized to deliver fast and stable performance.</li> 
            <li><strong>Advanced Security:</strong> Built-in security features to protect your data and privacy.</li> 
            <li><strong>Extensive Compatibility:</strong> Support for a wide range of applications and devices.
        </li> 
    </ul> 

        <h2 class="text-xl font-bold mb-4">How to Use This Documentation</h2> 
        <p class="text-gray-700 mb-4">This documentation is organized into sections to facilitate navigation and access to information. You can find step-by-step guides, tutorials, and detailed references on all the functionalities of CasualOS.</p>

    </div>
</Layout>
